/* NAVBAR CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Krub';
}

body{
    height: 100vh;
    background-color: #D6D9C9;
    overflow-x:hidden;
}

.lo{
    margin-left: 5%;
}
li{
    list-style: none;
}

a{
    text-decoration:none;
    color: #A52A2A;
    font-size: 1.10rem;
}

a:hover{
    color:white
}

header{
    position: relative;
}

.navbar{
    width: 100%;
    height:100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-self: space-between;
    background-color: #E5E7DD;
}


.navbar .links{
    display: flex;
    gap: 2rem;
    margin-top: 1%;
}

.navbar .toggle_btn{
    color:#A52A2A;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    margin-right: 5%;
}

.action_btn{
    background-color: #FFEFD5;
    color:#A52A2A;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.10rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    margin-right: 5%;
}

.btn_login{
    background-color: #FFEFD5;
    color:#A52A2A;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.10rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    margin-right: 5%;
}
.action_btn:hover{
    scale: 1.05;
    color: white
}

.action_btn:active{
    scale:0.95
}

.dropdown_menu{
    display: none;
    position:absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow:hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1000;
    
}

.dropdown_menu.open{
    height: 280px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items:center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display:block
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

/* NAVBAR CSS */

/* FOOTER */
.footer-container .aesthetfooter {
    padding: 20px;
    font-size: 1rem !important;
    background-color: #E5E7DD;
    color: #A52A2A;
}

.footer {
    position: relative;
    bottom: -50px; 
    left: 0;
    width: 100%;
    background-color: #E5E7DD;
    color: #A52A2A;
    z-index: 999; 
}

.columns-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    max-width: 800px; 
    margin: 0 auto;
}

.column-1:last-child,
.column-2:last-child,
.column-3:last-child,
.column-4:last-child {
    margin-right: 0;
}

.column-1,
.column-2,
.column-3,
.column-4 {
    flex: 1 1 calc(30% - 10px); 
    margin-right: 20px; 
}
.radio-column {
    flex: 1; 
    margin-right: 5px; 
}
.radio-column input[type="radio"] {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    border: 2px solid #A52A2A;
    outline: none;
    margin-right: 5px;
}

.radio-column input[type="radio"]:checked {
    background-color: #A52A2A; 
}
.radio-column label {
    display: inline-block;
    margin-bottom: 5px; 
    border: 1px solid #ccc; 
    padding: 5px; 
    border-radius: 5px; 
    background-color: #D6D9C9;
    width: 200px;
    text-align: center;
    color:#A52A2A
}


.container [type="submit"]{
    text-align: center;
    width: 200px;
    background-color: #FFEFD5;
    color:#A52A2A;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    margin-top: 20px; 
    margin-left: 40%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  
}  

.input-box .serviceType{
    color:#A52A2A
}
.input-box select{
    height: 45px;
    width: 80%;
    border: none; 
    background-color: #D6D9C9;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    color:#A52A2A;
}

.input-box.pet-condi {
    width: calc(100% - 20px); 
    color:#A52A2A
}

.dateAppoint {
    color:#A52A2A
}

.input-box.dateAppoint input[type="date"]{
    height:45px; 
    width: 100%; 
    color:#A52A2A;
    border: none; 
    background-color: #D6D9C9;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}
 .input-box.pet-condi input[type="text"] {
    height:200px;
    width: 100%; 
    color:#A52A2A;
    border: none; 
    background-color: #D6D9C9;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}

input[type="radio"] {
    margin-right: 5px; 
}

.container .title {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    font-family: 'Jua';
    text-transform: uppercase;
    color: #A52A2A;
    font-weight: bold;
}

.container .subtitle {
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    font-family: 'Krub';
    color: white;
    font-style: italic;
}
.container .subtitle2 {
    font-size: 15px;
    font-weight: lighter;
    text-align: left;
    margin-top: 20px;
    margin-left: 80px;
    font-family: 'Krub';
    color: #A52A2A;

}
.container {
    max-width: 1000px;
    width: 100%;
    background: #E5E7DD;
    padding: 25px 30px;
    border-radius: 5px;
    overflow-y: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}








