
  .view-appointments .view-my-appointments {
    margin: 0 0 52px 33px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Jua';
    font-weight: 400;
    font-size: 32px;
    color: #A52A2A;
  }
  
  /* .view-appointments .container-7 {
    background: #D6D9C9;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 174px 2000px 90px 86px;
    box-sizing: border-box;
  } */
  
  .view-appointments .container {
    overflow-wrap: break-word;
    font-family: 'Jua';
    font-weight: 400;
    font-size: 25px;
    color: #A52A2A;
  }
  
  .view-appointments .container-1 {
    margin-bottom: 43px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  
  .view-appointments .container-2 {
    margin-bottom: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 546.3px;
    box-sizing: border-box;
  }
  
  .view-appointments .container-3 {
    margin: 0 22.7px 15px 22.7px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  
  .view-appointments .container-4 {
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: #F2D19B;
    position: relative;
    margin-top: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 5px 3px 0;
    width: 176px;
    height: fit-content;
    box-sizing: border-box;
  }
  
  .view-appointments .container-5 {
    margin: 14px 0 10px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  
  .view-appointments .container-6 {
    margin: 0 24.6px;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    width: 369px;
    box-sizing: border-box;
  }
  
  .view-appointments .rectangle-24 {
    background: #E5E7DD;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 130px;
  }
  
  .view-appointments .group-163 {
    position: absolute;
    left: 0px;
    top: -3px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 29px;
    box-sizing: border-box;
  }
  
  .view-appointments .rectangle-50 {
    background: #E5E7DD;
    position: absolute;
    left: 50%;
    top: 0px;
    translate: -50% 0;
    width: 1440px;
    height: 130px;
  }
  
  .view-appointments .container-12 {
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: #FFEFD5;
    position: relative;
    margin: 0 17px 1px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 5px 3px 0;
    width: 176px;
    height: fit-content;
    box-sizing: border-box;
  }
  
  #mainNav {
    background-color: #E5E7DD;
    width: 100%;
    color: #A52A2A;
    padding: 10px 20px; /* Adjust padding */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#pages .nav-link {
    color: #A52A2A !important;
    font-family: 'Krub';
}

.navbar-text {
    font-size: 2vw;
    margin-right: 5%; /* Adjust margin */
    color: #F5F5F5;
    font-weight: bold;
}

.navbar-brand {
    margin-left: 5%; /* Adjust margin */
}

#northLogin {
    color: #A52A2A;
    background-color: #FFEFD5;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .navbar-text {
        font-size: 4vw; /* Adjust font size */
        margin-right: 2%; /* Adjust margin */
    }

    .navbar-brand {
        margin-left: 2%; /* Adjust margin */
    }
}

body{
  margin: 0;
    padding: 0;
    height: 100%;
    background-color: #D6D9C9; 
}