/* NAVBAR CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Krub';
}

body{
    height: 100vh;
    background-color: #D6D9C9;
    overflow-x:hidden;
}

.lo{
    margin-left: 5%;
}
li{
    list-style: none;
}

a{
    text-decoration:none;
    color: #A52A2A;
    font-size: 1.10rem;
}

a:hover{
    color:white
}

header{
    position: relative;
    /* padding: 0 2rem; */
}

.navbar{
    width: 100%;
    height:100px;
    /* max-width: 1200px; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-self: space-between;
    background-color: #E5E7DD;
}


.navbar .links{
    display: flex;
    gap: 2rem;
    margin-top: 1%;
}

.navbar .toggle_btn{
    color:#A52A2A;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    margin-right: 5%;
}

.action_btn{
    background-color: #FFEFD5;
    color:#A52A2A;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.10rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    margin-right: 5%;
}

.btn_login{
    background-color: #FFEFD5;
    color:#A52A2A;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.10rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    margin-right: 5%;
}
.action_btn:hover{
    scale: 1.05;
    color: white
}

.action_btn:active{
    scale:0.95
}

.dropdown_menu{
    display: none;
    position:absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow:hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1000;
    
}

.dropdown_menu.open{
    height: 280px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items:center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display:block
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

/* NAVBAR CSS */

.container {
max-width: 1500px;
width: 100%;
background: #E5E7DD;
padding: 25px 30px;
border-radius: 5px;
overflow-y: auto;
margin-top: 5%;
margin-bottom: 5%;

}

.container .title{
    font-size: 30px;
    font-weight: 500;
    position:relative;
    text-align: center;
    font-family: 'Jua';
    text-transform: uppercase;
    color: #A52A2A;
    font-weight: bold;
}

.container .subtitle{
    font-size: 15px;
    font-weight: lighter;
    position:relative;
    text-align: center;
    font-family: 'Krub';
    color: white;
    font-style: italic;
    
}



.container form .pet-details{
    color:#A52A2A;
    font-family: 'Jua';
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .pet-details .input-box{
    margin: 20px 0 12px 0;
    width: calc(50% - 20px);
    
}

.pet-details .input-box .details{
    font-weight: 500;
    margin-bottom: 5px;
}
.pet-details .input-box input{
    height: 45px;
    width: 100%;
    border: none; 
    background-color: #D6D9C9;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    color:#A52A2A;
    margin-left: 5px;
}
.pet-details .input-box select{
    height: 45px;
    width: 100%;
    border: none; 
    background-color: #D6D9C9;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    color:#A52A2A;
}
.pet-details .input-box.medical-history {
    width: calc(100% - 20px);
}

.pet-details .input-box.medical-history input[type="text"] {
    height:200px; 
    width: 100%; 
}


.divider {
    top: 5px;
    width: 100%;
    height: 1px;
    background-color: white;
    display: inline-block;
}

.container [type="submit"]{
    text-align: center;
    width: 200px;
    background-color: #FFEFD5;
    color:#A52A2A;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    margin-top: 20px; 
    margin-left: 43%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  
}   

.pet-profile{
    font-family: 'Jua';
    font-weight: normal;
    font-size: 45px;
    color:#A52A2A
}
.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #A52A2A;
    text-align: center;
    margin-top: 20px; 
    margin-left: 45%;
}

.circle img {
    width: 100%; 
    height: auto; 
}



/* FOOTER */
.footer-container .aesthetfooter {
    padding: 20px;
    font-size: 1rem !important;
    background-color: #E5E7DD;

}

.footer {
    position: relative;
    bottom: -50px; 
    left: 0;
    width: 100%;
    background-color: #E5E7DD;
    z-index: 999; 
}
