/* NAVBAR CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Krub';
}

body{
    height: 100vh;
    background-color: #D6D9C9;
    overflow-x:hidden;
}

.lo{
    margin-left: 5%;
}
li{
    list-style: none;
}

a{
    text-decoration:none;
    color: #A52A2A;
    font-size: 1.10rem;
}

a:hover{
    color:white
}

header{
    position: relative;
    /* padding: 0 2rem; */
}

.navbar{
    width: 100%;
    height:100px;
    /* max-width: 1200px; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-self: space-between;
    background-color: #E5E7DD;
}


.navbar .links{
    display: flex;
    gap: 2rem;
    margin-top: 1%;
}

.navbar .toggle_btn{
    color:#A52A2A;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    margin-right: 5%;
}

.action_btn{
    background-color: #FFEFD5;
    color:#A52A2A;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.10rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    margin-right: 5%;
}

.btn_login{
    background-color: #FFEFD5;
    color:#A52A2A;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.10rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    margin-right: 5%;
}
.action_btn:hover{
    scale: 1.05;
    color: white
}

.action_btn:active{
    scale:0.95
}

.dropdown_menu{
    display: none;
    position:absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow:hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1000;
    
}

.dropdown_menu.open{
    height: 280px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items:center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display:block
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

/* NAVBAR CSS */

/* FOOTER */
.footer-container .aesthetfooter {
    padding: 20px;
    font-size: 1rem !important;
    background-color: #E5E7DD;

}

.footer {
    position: relative;
    bottom: -50px; 
    left: 0;
    width: 100%;
    background-color: #E5E7DD;
    z-index: 999; 
}




.success {
    color: #A52A2A;
    font-family: 'Jua', sans-serif;
    font-size: 70px;
    margin-top: 20px; 
    margin-bottom: -10px;
}

.inline {
    color: #FFFFFF;
    font-family: 'Krub';
    font-size: 20px;
    top: -90px;
}

.content-wrapper {
    margin-top: 2%; 
    margin-bottom: 5%;
}

.square {
    width: 320px;
    height: 320px;
    margin-bottom: 30px;
    background-color: #E5E7DD;
    margin: 0 auto;
    margin-top: -10px; 
    position: relative; 
    text-align: center; 
}

.ticket-text {
    color: #A52A2A; 
    font-size: 24px; 
    font-family: 'Jua', sans-serif;
    position: absolute; 
    top: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
}

.queue-num {
    color: #A52A2A; 
    font-size: 300px; 
    font-family: 'Jua';
    font-weight: 200;
    top: 50%; 
    margin-top: 20px;
    left: 50%; 
    position: absolute; 
    transform: translate(-50%, -50%);
}

.people-text {
    color: #A52A2A; 
    font-size: 24px;
    font-weight: bold;
    font-family: 'Jua', sans-serif;
    position: absolute; 
    bottom: 5px; 
    left: 50%; 
    transform: translateX(-50%); 
    white-space: nowrap; 
}

.staff {
    color: #FFFFFF; 
    font-size: 20px; 
    font-family: 'Krub';
    font-style: italic !important;
}

