#mainNav{
    background-color: #E5E7DD;
    width: 100%;
    color: #A52A2A; 
    padding: 10px 0; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#pages .nav-link{
    color:#A52A2A !important
}
.navbar-text {
    font-size: 2vw; 
    margin-right: 50px; 
    color: #F5F5F5;
    font-weight: bold;
}

.navbar-brand{
    margin-left: 100px;
    
}

body{
    margin:0;
    padding: 0;
    font-family: montserrat;
    height: 100vh;
}


#northLogin{
    color: #A52A2A;
    background-color: #FFEFD5;
}



.footer-container {
    padding: 20px;

    background-color: #E5E7DD;
    color: #1B1C1E;
}

.footer {
    position: fixed;
    bottom: -50px; 
    left: 0;
    width: 100%;
    background-color: #E5E7DD;
    color: #1B1C1E;
    z-index: 999; 
}

.center-textservices {
    text-align: center; 
    position: absolute; 
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Jua';
    font-weight: 400;
    font-size: 45px;
    color: #A52A2A
  }



.container-6 {
    box-shadow: inset 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid #464742;
    background: url('../assets/images/rectangle51.jpeg') 45% / cover no-repeat;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 200px 20px 230px 0;
    width: 550px;
    box-sizing: border-box;
    margin-right: 1200px;
    float: right;
    float: top;
    top: 280px;
    align-items: flex-start;
  }

.shop {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow-wrap: break-word;
    font-family: 'Jua';
    font-weight: 400;
    font-size: 35px;
    color: #FFFFFF;
    margin-top: 20px;
margin-top: px;
  }

  .container-2 {
    box-shadow: inset 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid #464742;
    background: url('../assets/images/rectangle53.jpeg') 45% / cover no-repeat;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 200px 20px 250px 0;
    width: 550px;
    box-sizing: border-box;
    margin-right: 620px;
    float: right;
    float: top;
    top: -225px;
  }

  .grooming {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow-wrap: break-word;
    font-family: 'Jua';
    font-weight: 400;
    font-size: 35px;
    color: #FFFFFF;
    margin-top: px;
  }

  .container-9 {
    box-shadow: inset 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid #464742;
    background: url('../assets/images/rectangle52.jpeg') 45% / cover no-repeat;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 200px 20px 250px 0;
    width: 550px;
    box-sizing: border-box;
    margin-right: -1120px;
    float: right;
    float: top;
    top: -225px;
  }

 .health-and-check-up {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Jua';
    font-weight: 400;
    font-size: 35px;
    color: #FFFFFF;
  }

  .bodyservices{
    background-color: #D6D9C9; 
    color: #A52A2A; 
  }
  

