/* NAVBAR CSS */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Krub';
}

body{

  background-color: #D6D9C9;
  overflow-x:hidden;
  height: 100vh;
}

.lo{
  margin-left: 5%;
}
li{
  list-style: none;
}

a{
  text-decoration:none;
  color: #A52A2A;
  font-size: 1.10rem;
}

a:hover{
  color:white
}

header{
  position: relative;
  /* padding: 0 2rem; */
}

.navbar{
  width: 100%;
  height:100px;
  /* max-width: 1200px; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-self: space-between;
  background-color: #E5E7DD;
}


.navbar .links{
  display: flex;
  gap: 2rem;
  margin-top: 1%;
}

.navbar .toggle_btn{
  color:#A52A2A;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  margin-right: 5%;
}

.action_btn{
  background-color: #FFEFD5;
  color:#A52A2A;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1.10rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
  margin-right: 5%;
}

.btn_login{
  background-color: #FFEFD5;
  color:#A52A2A;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1.10rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
  margin-right: 5%;
}
.action_btn:hover{
  scale: 1.05;
  color: white
}

.action_btn:active{
  scale:0.95
}

.dropdown_menu{
  display: none;
  position:absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow:hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 1000;
  
}

.dropdown_menu.open{
  height: 280px;
}
.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items:center;
  justify-content: center;
}

.dropdown_menu .action_btn{
  width: 100%;
  display: flex;
  justify-content: center;
}

@media(max-width: 992px){
  .navbar .links,
  .navbar .action_btn{
      display: none;
  }

  .navbar .toggle_btn{
      display: block;
  }

  .dropdown_menu{
      display:block
  }
}

@media(max-width: 576px){
  .dropdown_menu{
      left: 2rem;
      width: unset;
  }
}

/* NAVBAR CSS */

/* FOOTER */
.footer-container .aesthetfooter {
  padding: 20px;
  font-size: 1rem !important;
  background-color: #E5E7DD;

}

.footer {
  position: relative;
   left: 0;
  width: 100%;
  background-color: #E5E7DD;
  z-index: 999; 
}

.shop{
  color: #A52A2A !important;
  font-size: clamp(50px, 1vw, 100px);
  text-align: center;
  top: 5%;
  text-transform: uppercase;
  position: relative;
}

 .checkout-button {

    position: relative;
    background-color: #FFEFD5; 
    color: #A52A2A;           
    padding: 10px 20px;       
    border: none;             
    border-radius: 5px;      
    font-size: 16px;          
    cursor: pointer;          
    text-decoration: none;    
    left: 71%;
    bottom: -27%;
    z-index: 2;
    
} 

  .checkout-button:hover {
    background-color: #1B1C1E 
} 
 .container-3 {
    border-radius: 15px;
    background: #E5E7DD;
    position: relative;
    margin-bottom: 15px;
    display: inline-block;
    flex-direction: column;
    padding: 5px 17px 14px 10px;
    width: 200px;
    height: 250px;
    box-sizing: border-box;
    bottom: 93%;
    left: 55%;
    font-family: 'Jua';
    color: #A52A2A
    
  }
  .container-4 {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background: #D6D9C9;
    position: relative;
    margin: 0 0 222px 1px;
    display: flex;
    flex-direction: row;
    padding: 21px 10.1px 21px 15.2px;
    width: fit-content;
    box-sizing: border-box;
    font-family: 'Jua';
  }

  .container-12 {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: row;
    width: fit-content;
  }
  
    .rectangle-1154 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background: url('../assets/images/rectangle1154.png') 50% / cover no-repeat;
    margin-bottom: 20px;
    width: 238px;
    height: 288px;
    bottom: -40%;
    position: relative;
    z-index: 2;
    left:15%;
    top: 2%;
  }

    .your-cart-1 {
    margin: 0 10.1px 0 11.1px;
    overflow-wrap: break-word;
    font-family: 'Jua';
    font-weight: 400;
    font-size: 25px;
    color: #A52A2A;
    left: 15%;
    position: relative;
    z-index: 2;
  }
  
    .rectangle-1155 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background: url('../assets/images/rectangle1155.png') 50% / cover no-repeat;
    margin-bottom: 20px;
    width: 238px;
    height: 288px;
    position: relative;
    left: 30%;
    top: -32.5%;
    z-index: 2;
  }
  
    .your-cart-2 {
    margin: 0 10.5px 0 8.5px;
    overflow-wrap: break-word;
    font-family: 'Jua';
    font-weight: 400;
    font-size: 25px;
    color: #A52A2A;
    position: relative;
    top: -34.5%;    
    left: 30%;
    z-index: 2;
  }
  
    .rectangle-1156 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background: url('../assets/images/rectangle1156.png') 50% / cover no-repeat;
    margin-bottom: 5px;
    width: 238px;
    height: 288px;
    position: relative;
    bottom: 67%;    
    left: 45%;
    z-index: 2;
  }
  
  .your-cart-3 {
    margin: 0 16.5px 0 17.5px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Jua';
    font-weight: 400;
    font-size: 25px;
    color: #A52A2A;
    position: relative;
    bottom: 180%;
    left: 45%;
    z-index: 2;
  }
  
     .rectangle-76 {
    border-radius: 20px;
    background: url('../assets/images/treats2.png') 50% / cover no-repeat;
    margin-bottom: 47px;
    width: 114px;
    height: 114px;
    right: 705%;
    top: -517%;
    position: relative;
    z-index: 2;
  }


    .rectangle-70 {
    border-radius: 20px;
    background: url('../assets/images/grooming2.png') 50% / cover no-repeat;
    margin-bottom: 47px;
    width: 114px;
    height: 114px;
    right: 705%;
    top: -517%;
    position: relative;
    z-index: 2;
  }

.rectangle-71 {
    border-radius: 20px;
    background: url('../assets/images/accessories2.png') 50% / cover no-repeat;
    width: 114px;
    height: 114px;
    right: 705%;
    top: -517%;
    position: relative;
    z-index: 2;
  }
  
 .rectangle-77 {
    border-radius: 20px;
    background: url('../assets/images/Toys2.png') 50% / cover no-repeat;
    position: relative;
    margin: 0 78px 47px 78px;
    align-self: flex-start;
    width: 114px;
    height: 114px;
    right: 750%;
    top: -517%;
    position: relative;
    z-index: 2;
  }

    .rectangle-772 {
    border-radius: 20px;
    background: url('../assets/images/Essentials2.png') 50% / cover no-repeat;
    position: relative;
    margin: 0 78px 114px 78px;
    align-self: flex-start;
    width: 114px;
    height: 114px;
    right: 750%;
    top: -507%;
    position: relative;
    z-index: 2;
  }

     .container-1214 {
    border-radius: 15px;
    background: #E5E7DD;
    position: relative;
    margin-bottom: 16px;
    flex-direction: column;
    padding: 5px 17px 14px 10px;
    width: fit-content;
    box-sizing: border-box;
    top: -180%;
    left: -620%;
    width: 1000px;
    height: 600px;
    
  }
  
  .container-1215 {
    border-radius: 15px;
    background: #E5E7DD;
    position: relative;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    padding: 5px 17px 14px 10px;
    width: fit-content;
    box-sizing: border-box;
    right: 730%;
    position: relative;
    bottom: 447%;
    width: 600px;
    height: 130px;
    
    }
    
  .container-13{
    position: relative;
    top: -435%;
    right: -30px;
  }
  
 */
